@import 'variables.scss';

body 
{
    background-color: $broken-white;
    font-family: $secondary-font;
}

.navbar
{
    background-color: $primary-colour;

    .navbar-toggler
    {
        color: $broken-white;
    }

    .container-fluid .nav-link
    {
        color: $broken-white;
        text-align: center;
    }
}

.intro
{
    height: 60vh;
}

h1
{
    font-family: $primary-font;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.lead
{
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 5em;
    font-weight: bold;
}

.btn
{
    border-radius: 2em;
    display: block;
    margin: 2em auto;
    max-width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 2em;
}

.btn-primary
{
    background-color: $primary-colour;
    border: none;
}

.btn-secondary
{
    background-color: transparent;
    color: black;
}

h2
{
    color: $primary-colour;
    text-align: center;
    font-size: 2em;
    padding-top: 3em;
}

.about
{
    p
    {
        max-width: 80%;
        text-align: center;
        margin: auto;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.team
{
    display: grid;
}