@import 'variables.scss';

body 
{
    background-color: $broken-white;
    font-family: $secondary-font;
}

.navbar
{
    background-color: $primary-colour;

    img
    {
        height: 7em;
        padding-top: 2em;
        margin-left: 1em;
        margin-bottom: -2em;
    }

    .navbar-toggler
    {
        color: $broken-white;
        border: none;
    }

    .container-fluid .nav-link
    {
        color: $broken-white;
        text-align: center;
    }
}

.intro
{
    height: 75vh;
}

h1
{
    font-family: $primary-font;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.lead
{
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 5em;
    font-weight: bold;
}

.btn
{
    border-radius: 2em;
    display: block;
    margin: 2em auto;
    max-width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 2em;
}

.btn-primary
{
    background-color: $primary-colour;
    border: none;
}

.btn-primary:hover
{
    background-color: rgba(75, 182, 182, 0.7);
}

.btn-secondary
{
    background-color: transparent;
    color: black;
}

h2
{
    color: $primary-colour;
    text-align: center;
    font-size: 2em;
    padding-top: 4em;
    margin-bottom: 2em;
    margin-top: 2em;
    font-weight: bold;
}

.about
{
    img
    {
        display: block;
        margin: auto auto 3em auto;
    }

    p
    {
        max-width: 80%;
        text-align: center;
        margin: auto;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 3em;
    }
}

.team
{
    display: grid;
    grid-template-rows: repeat(3, auto);
    
    .member
    {
        p
        {
            margin-top: 1em;
            margin-bottom: 5em;
        }
    }

    .member:first-child
    {
        margin-top: 10em;
    }
}

.what
{
    .item
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        margin-top: 5em;
        max-width: 85%;

        img
        {
            margin: auto;
            height: 5em;
            grid-row-start: 2;
            margin-top: 2em;
        }

        h3
        {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 4;
            font-weight: bold;
            font-size: 1.8em;
            margin: auto;
            margin-top: 2em;
            display: block;
        }

        p
        {
            grid-column-start: span 3;
            grid-row-start: 3;
            text-align: center;
            margin: 2em auto;
            font-size: 1.2em;
        }
    }
}

.help
{
    p
    {
        font-size: 1.2em;
        text-align: center;
    }

    iframe
    {
        display: block;
        margin: auto;
    }
}

.download
{
    p
    {
        font-size: 1.2em;
        text-align: center;
        max-width: 80%;
        margin: auto;
    }

    a
    {
        margin-bottom: 10em;
    }
}

@media only screen and (min-width: 992px)
{
    h2
    {
        text-align: left;
        margin-left: 10%;
    }

    .navbar
    {
        img
        {
            margin-left: 5%;
        }

        .navbar-nav
        {
            margin: auto;

            .nav-item
            {
                margin: 0 1em;

                .nav-link
                {
                    font-size: 1.2em;
                }
            }
        }
    }

    .intro
    {
        text-align: center;

        h1  
        {
            margin-bottom: 1em;
            font-size: 5em;
        }

        .lead
        {
            font-size: 1.6em;
            margin-top: -2em;
        }

        .btn
        {
            display: inline-block;
            margin: auto 1em;
        }
    }

    .about
    {
        .aboutIntro
        {
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: repeat(2, auto);
            max-width: 70%;

            img
            {
                grid-column: 1;
                grid-row: 1;
            }

            p
            {
                grid-column: 2;
                grid-row: 1;
                text-align: left;
            }

            a
            {
                display: inline-block;
                grid-column: 2;
                grid-row: 2;
                margin-left: 2em;
            }
        }

        .team
        {
            display: flex;
            width: 80%;

            .member
            {
                margin-top: 5em;

                img
                {
                    width: 9em;
                }
            }
        }
    }

    .what
    {
        .features
        {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            max-width: 80%;

            .item
            {
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 30% 70%;

                img
                {
                    display: inline-block;
                    grid-row: 1 / 2;
                    justify-self: center;
                    align-self: center;
                    margin-right: 3em;
                }

                h3
                {
                    text-align: left;
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    margin-left: 0;
                }

                p
                {
                    text-align: left;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
            }
        }
    }

    .help
    {
        iframe
        {
            width: 30em;
            height: 20em;
            max-width: 60%;
            margin-top: 5em;
        }
    }

    .download
    {
        background-image: url(../images/shapeDownload.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;

        p
        {
            margin-top: 10em;
            text-align: left;            
            max-width: 50%;
        }

        a
        {
            display: inline-block;
            margin-left: 25%;
        }
    }
}